<<<<<<< HEAD
<form action='/bookmarks/' method='post'>
  <input type="text" name="url">
=======
<form action='/bookmarks' method='post'>
  <input type="text" name="url" placeholder="add url here">
>>>>>>> 43abe28487b8394840721cb6668d16957eb7cb73
  <input type="text" name="title">
  <input type="submit" value="Add">
</form>